<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="performanceType">
            <h2><span jhiTranslate="simpleCrmApp.performanceType.detail.title">Performance Type</span> {{ performanceType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="simpleCrmApp.performanceType.title">Title</span></dt>
                <dd>
                    <span>{{ performanceType.title }}</span>
                </dd>
                <dt><span jhiTranslate="simpleCrmApp.performanceType.comment">Comment</span></dt>
                <dd>
                    <span>{{ performanceType.comment }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/performance-type', performanceType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
