<div>
    <h2 id="page-heading">
        <span jhiTranslate="simpleCrmApp.job.home.title">Jobs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job" [routerLink]="['/job/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="simpleCrmApp.job.home.createLabel">
            Create a new Job
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobs?.length === 0">
        <span jhiTranslate="simpleCrmApp.job.home.notFound">No jobs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobs && jobs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="simpleCrmApp.job.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createDate"><span jhiTranslate="simpleCrmApp.job.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="doneDate"><span jhiTranslate="simpleCrmApp.job.doneDate">Done Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comment"><span jhiTranslate="simpleCrmApp.job.comment">Comment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="periority"><span jhiTranslate="simpleCrmApp.job.periority">Periority</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="performanceId"><span jhiTranslate="simpleCrmApp.job.performance">Performance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creatorId"><span jhiTranslate="simpleCrmApp.job.creator">Creator</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs ;trackBy: trackId">
                    <td><a [routerLink]="['/job', job.id, 'view']">{{ job.id }}</a></td>
                    <td>{{ job.title }}</td>
                    <td>{{ job.createDate | date:'medium' }}</td>
                    <td>{{ job.doneDate | date:'medium' }}</td>
                    <td>{{ job.comment }}</td>
                    <td jhiTranslate="{{ 'simpleCrmApp.PriorityEnum.' + job.periority }}">{{ job.periority }}</td>
                    <td>
                        <div *ngIf="job.performanceId">
                            <a [routerLink]="['/performance', job.performanceId , 'view']" >{{ job.performanceId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="job.creatorId">
                            <a [routerLink]="['/person', job.creatorId , 'view']" >{{ job.creatorId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job', job.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/job', job.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(job)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="jobs && jobs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
