<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="city">
            <h2><span jhiTranslate="simpleCrmApp.city.detail.title">City</span> {{ city.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="simpleCrmApp.city.title">Title</span></dt>
                <dd>
                    <span>{{ city.title }}</span>
                </dd>
                <dt><span jhiTranslate="simpleCrmApp.city.province">Province</span></dt>
                <dd>
                    <div *ngIf="city.provinceId">
                        <a [routerLink]="['/province', city.provinceId, 'view']">{{ city.provinceId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/city', city.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
